<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../css/modelos.css">
    <link href='https://fonts.googleapis.com/css?family=Oxygen' rel='stylesheet'>
    <link href="//db.onlinewebfonts.com/c/cfdf18a10f253f0aa9db6db978d328c0?family=SignPainter+HouseScript"
        rel="stylesheet" type="text/css">
    <title>Document</title>
</head>

<body>

    <header>
        <div class="logo-input">
            <h2 class="logo">Cabide das noivas</h2>
            <form action="" class="container-pesquisa">
                <div class="input-grupo">
                    <input type="text" class="input-buscar" placeholder="Busque aqui seu produto">
                    <span class="input-grupo-span">
                        <button class="lupa" type="button"><img src="../img/lupa.png" alt="lupa"></button>
                    </span>
                    </input>
                </div>
            </form>
            <nav>
                <ul class="lista-nav">
                    <li>COLEÇÕES</li>
                    <li>ACESSÓRIOS</li>
                    <li class="sobre">SOBRE</li>
                    <img src="../img/carrinho.png" alt="carrinho de compras" class="carrinho">
                </ul>
                <div class="login">
                    <img src="../img/avatar.png" alt="avatar" class="avatar">
                    <div class="navegador-header">
                        <p class="login-texto">
                            <span>Olá faça seu login </span> </br>
                            <span>ou cadastra-se </span>
                        </p>
                    </div>
                </div>
            </nav>
        </div>
    </header>

    <main>
        <h1 class="logo-main"> Cabide das noivas</h1>

        <div class="menu-navegacao">
            <ul class="navegador">
                <li>Home</li>
                <li>Estilos</li>
                <li>Tamanhos</li>
                <li>Novidades</li>
                <li>Carrinhos</li>
            </ul>
            <div class="container-imagens">

                <div class=" img 1-2">
                    <img src="../img/noiva1.png" alt="noiva1">
                    <img src="../img/noivas2.png" alt="noiva2" class="noiva2">
                    <div class="div-botoes1">
                        <button class="botao-comprar">Comprar</button>
                        <button class="botao-comprar">Comprar</button>
                    </div>
                </div>
                <div class="img 2-3">
                    <img src="../img/noiva3.png" alt="noiva3">
                    <img src="../img/noiva4.png" alt="noiva4">
                    <div class="div-botoes1">
                    <button class="botao-comprar">Comprar</button>
                    <button class="botao-comprar">Comprar</button>
                </div>
            </div>
        </div>
        </div>
    </main>

    <footer>
        <div class="pai-footer">
            <div class="cabide-das-noivas-left">
                <h2 class="logo-footer">Cabide das noivas</h2>
                <div class="redes-sociais">
                    <img src="../img/facebook.png" alt="facebook">
                    <img src="../img/youtube.png" alt="youtube">
                    <img src="../img/instagram.png" alt="instagram">
                </div>

            </div>
            <div class="texto-footer-centro">
                <div class="texto1">
                    <span>QUEM SOMOS</span>
                    <span>ENTRE EM CONTATO</span>
                </div>
                <div class="texto2">
                    <span>PEDIDOS PARA LOJAS</span>
                    <span class="ouvidoria">OUVIDORIA</span>
                </div>
            </div>
            <div class="app">
                <h2 class="texto-app">BAIXE NOSSO APP</h2>
                <img class="apple-img" src="../img/appstore.png" alt="apple store">
                <img class="google-img" src="../img/googleplay.png" alt="google play">
            </div>
        </div>
        <span class="copyright">
            Copyright ©️ Cabide das Noivas. Todos os direitos reservados.
        </span>
    </footer>
</body>

</html>