/* HEADER */
html, body {
    height: 100%;
}
header {
height: 10%; 
width: 100%;
background-color: #ffb90f;
margin-top:70px;
position: relative;
}


header nav img {
    position: absolute;
    width: 200px;
}

